doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/components-md.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/light.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body(style="background:#e9ecf3").page-header-fixed.page-sidebar-closed-hide-logo.page-sidebar-closed-hide-logo
    block content
    script(src='/javascripts/build/jquery.min.js')
    script(src='/javascripts/build/bootstrap.min.js')
    script(src='/javascripts/build/app.js')
    